<div class="container mt-4">
  <app-file-actions-var
    (cambiarPantalla)="changeForm()"
    (borrarSeleccion)="borrarFiles()"
  ></app-file-actions-var>
  <table class="table table-hover" *ngIf="!showForm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha</th>
        <th scope="col">Dueños</th>
      </tr>
    </thead>
    <tbody>
      @for (file of files; let i = $index ; track $index) {
      <app-file-row
        class="table-line table-hover"
        [file]="file"
        [index]="i"
        (fileChecked)="onFileCheked($event)"
      ></app-file-row>
      }
    </tbody>
  </table>
  <app-form
    [foldersList]="files"
    *ngIf="showForm"
    (sendEmit)="pushFile($event)"
  ></app-form>
</div>
