<div class="container mt-4">
  <app-file-actions-var></app-file-actions-var>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha</th>
        <th scope="col">Dueños</th>
      </tr>
    </thead>
    <tbody>
      <app-file-row class="table-line"> </app-file-row>
      <app-file-row class="table-line"> </app-file-row>
      <app-file-row class="table-line"> </app-file-row>
      <app-file-row class="table-line"> </app-file-row>
      <app-file-row class="table-line"> </app-file-row>
      <app-file-row class="table-line"> </app-file-row>
      <app-file-row class="table-line"> </app-file-row>
    </tbody>
  </table>
</div>
