<div class="row">
  <div class="col-10">
    <select
      class="form-control col-10"
      name="owner"
      [(ngModel)]="selectedOwner"
    >
      <option [ngValue]="null" disabled selected>
        Seleccione un propietario
      </option>
      @for (owner of ownerList; track $index) {
      <option [value]="owner">{{ owner.name }}</option>
      }
    </select>
  </div>
  <div class="col-2">
    <button
      *ngIf="selectedOwner == { name: '', avatarUrl: '' }"
      class="btn btn-secondary col-2"
      (click)="sendOwner()"
    >
      +
    </button>
  </div>
</div>
