<div class="row">
  <div class="col-md-12" style="padding-top: 12px">
    <div class="d-flex justify-content-between mb-3">
      <h3>Archivos</h3>
      <div class="dropdown">
        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          id="accionesMenu"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Acciones
        </button>
        <ul class="dropdown-menu" aria-labelledby="accionesMenu">
          <li><a class="dropdown-item" href="#">Nuevo</a></li>
          <li><a class="dropdown-item" href="#">Borrar</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
